.adminLine{
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    height:auto;
    width:80%;
    align-items: center;
    justify-content: space-around;
    border:1px solid black;
    padding: 1em;
    font-weight: 500;
    margin:1em;
    border-radius: 1em;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
.deleteAdmin{
    all:unset;
    padding: 1em;
    border:1px solid red;
    text-align: center;
    margin-left:auto;
    margin-right: 1em;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 700;
}
.deleteAdmin::selection{
    background-color: none;
}
.deleteAdmin:hover{
    background-color: red;
    opacity: 0.5;
}
.pAdmin{
    border-radius: 0.5em;
    margin:0.5em;
    border:1px solid black;
    padding:0.5em;
    max-width: 90%;
}
.adminPage{
    padding-top: 5em;
    display: flex;
    background-color: pink;
    align-items: center;
    flex-direction: column;
    min-height:100vh;
    width:100%;
    text-align: center;
    background: url(/public/backgroundGlass.webp);
    background-size:cover;
}