.glassStats {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: 75vh;
    border: 1px solid rgba(230, 187, 187, 0.2);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    color: #000;
}

.gridStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.gridChild {
  flex: 0 0 45%;
  box-sizing: border-box;
  padding: 1rem;
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    color: #000;

}
.chart {
    width:100%;
}

.numberStats{
    font-size: 1.7em;
    font-weight: bold;
    color: #6a0dad; /* a strong purple */
}





